
.top{
	height: 100px;
	background: #1c1c1c;
}
.top .show{
	width: 1062px;
	float: left;
}
.top .show .logo{
	float: left;
}
.top .show .logo img{
	margin-top: 25px;
}
.top .show .link{
	float: right;
	margin-right: 23px;
}
.top .show .link li{
	height: 50px;
	width: 108px;
	line-height: 50px;
	text-align: center;
	margin-top: 25px;
}
.top .show .link li a{
	font-size: 14px;
	color: #c8c8c8;
}
.top .account{
	float: right;
	margin-top: 40px;
	margin-right: 10px;	
}
.top .account ul li:nth-child(1){
	margin-right: 27px;
	opacity: 0.6;
}
.top .account li{
	position: relative;
}
.top .account li:nth-child(1):hover{
	opacity: 1;
}
.top .account li:nth-child(2) a:hover+div{
	opacity: 1;
}
.hx:after{
	content: "";
	width: 1px;
	height: 14px;
	background: #333;
	position: absolute;
	top: 3px;
	left: -49px;
}
.top .show .link li a:hover{
	color: #fff;
}
.top .account li div{
	position: absolute;
	top: 22px;
    right: -16px;
    z-index: 2;
	opacity: 0;
}
.content{
	background: #e5e5e5;
	padding-bottom: 41px;
}
.content .label{
	height: 90px;
}
.content .label li{
	margin-right: 20px;
}
.content .label li a{
	text-decoration: none;
	color: #616161;
	font-size: 14px;
	line-height: 90px;
}
.content .label li:first-child a{
	font-weight: 900;
	color: #222;
}
.content .label li:first-child{
	margin-left: 10px;
}
.content .show img{
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.dot:before{
	content: "·";
	color: #c7c7c7;
	margin-right: 20px;
}
.bottomBtn{
	position: absolute;
	bottom: 10px;
	left: 50%;
}
.bottomBtn li{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #000;
	margin-right: 10px;
	cursor: pointer;
	list-style: none;
}
.bottomBtn li.active{
	background: rgba(255,0,255);
}
.content .load{
	height: 800px;
	margin-top: 14px;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
}
.content .load div{
	position: absolute;
}
.content .load .link .king{
	width: 100%;
	height: 100%;
}
.content .load li{
	width: 303px;
	height: 398px;
	text-align: center;
	border: 1px solid #f5f5f5;
	background: #ffffff;
}
.content .load li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.content .load ul li:nth-child(1){
	border-top-left-radius: 10px;
}
.content .load li:nth-child(4){
	border-top-right-radius: 10px;	
}

.content .load li:nth-child(5){
	border-bottom-left-radius: 10px;
}
.content .load li:nth-child(8){
	border-bottom-right-radius: 10px;
}
.content .load .demon {
	z-index: 2;
}
.content .load .demon li:hover{
	opacity: 0;
}
.content .load .demon li  img:nth-child(1){
	margin-top: 90px;
	margin-bottom: 20px;
}
.content .load .demon li  p:nth-of-type(1){
	margin-bottom: 17px;
	font-size: 14px;
	color: #999;
}
.content .load .demon li  p:nth-of-type(2){
	font-size: 12px;
	color: #bdbdbd;
	margin-bottom: 30px;
}

.content .load .link li img{
	margin-top: 68px;
	margin-bottom:38px; 

}
.content .load .link li a p:nth-of-type(1){
	margin-bottom: 45px;
	font-size: 15px;
	color: #757575;
}
.content .load .link li a p:nth-of-type(2){
	font-size: 13px;
	color: #6e95f3;
}
.content .load .link li:nth-child(1) img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	margin-top: 0;
	margin-bottom: 0;
}
.foot{
	height: 351px;
	position: relative;
}
.foot .nav{
	height: 233px;
	box-sizing: border-box;
	padding: 100px 0px 32px;
	border-bottom: 1px solid #e5e5e5;
}
.foot .nav>ul:nth-child(1)>li{
	width: 149px;
	height: 98px;
	font-size: 10px;
}
.foot .nav ul li li{
	width: 149px;
	height: 13px;
	line-height: 13px;
	margin-bottom: 10px;	
}
.foot .nav ul li li a{
	font-size: 12px;
	color: #969696;
}
.foot .nav ul li li a:hover{
	color: #5079d9;
}
.foot .nav ul li h4{
	width: 149px;
	height: 26px;
	margin-bottom: 10px;
	font-size: 13px;
	color: #646464;
}
.foot .nav .ul2{
	width: 326px;
	height: 98px;
	float: right;
}
.foot .nav .ul2 li{
	margin-left: 110px;
}
.foot .nav .ul2 li:nth-child(1){
	font-size: 28px;
	margin-bottom: 10px;
	margin-left: 120px;
	color: #111;
}
.foot .nav .ul2 li:nth-child(2){
	font-size: 11px;
	color: #999;
}
.foot .nav .ul2 li:nth-child(3){
	position: absolute;
	width: 130px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	border: 1px solid #ccc;
	border-radius: 4px;
	left: 1143px;
	top: 177px;
}
.foot .nav .ul2 li:nth-child(3) a{
	color: #5079d9;
	font-size: 14px;
}
.foot .nav .ul2 li img{
	vertical-align: middle;
	margin-top: -2px;
}
.foot .int{
	height: 117px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 40px 0;
	position: relative;
}
.foot .int h4{
	font-size: 12px;
	color: #555;
	font-weight: 400;
}
.foot .int h4 a{
	color: #5079d9;
}
.foot .int h4:nth-child(2){
	opacity: 0.5;
	margin-top: 8px;
}
.foot .int h4:nth-child(2) a{
	color: #555;
}
.foot .int select{
	position: absolute;
	left: 1136px;
	top: 22px;
}
.down{
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
	border-radius: 10px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	background: url(../images/image5/top.png) no-repeat center center;
	background-size: cover;
}











@keyframes changea{
			0%{
				opacity: 1;
			}
			23%{
				opacity: 1;
			}
			34%{
				opacity: 0;
			}
			89%{
				opacity: 0;
			}
			100%{
				opacity: 1;
			}
		}
@keyframes changeb{
			0%{
				opacity: 1;
			}
			56%{
				opacity: 1;
			}
			67%{
				opacity: 0;
			}
			100%{
				opacity: 0;
			}